/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do corpo */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #E0E0E0;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

/* Container principal */
.container {
  max-width: 600px;
  width: 100%;
  background-color: #1E1E1E;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Título principal */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #FFD700;
}

/* Grupos de entrada */
.input-group {
  margin-bottom: 20px;
}

.input-group input[type="text"] {
  width: calc(100% - 110px);
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #333;
  color: #E0E0E0;
}

.input-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #FFD700;
  color: #121212;
  cursor: pointer;
}

.input-group button:hover {
  background-color: #E0B000;
}

/* Área de resultado */
.resultado, .logs {
  margin-top: 20px;
}

.resultado h2, .logs h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #FFD700;
}

#idsExtraidos a {
  display: block;
  margin: 5px 0;
  color: #FFD700;
  text-decoration: none;
  word-break: break-all;
}

#idsExtraidos a:hover {
  text-decoration: underline;
}

/* Botão copiar links */
#idsExtraidos button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #FFD700;
  color: #121212;
  cursor: pointer;
}

#idsExtraidos button:hover {
  background-color: #E0B000;
}

/* Logs */
#logs {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #FFD700;
  border-radius: 4px;
  background-color: #333;
  color: #E0E0E0;
}

#logs p {
  margin-bottom: 5px;
}

#logs pre {
  background-color: #1E1E1E;
  border: 1px solid #FFD700;
  border-radius: 4px;
  padding: 10px;
}

/* Estilo para a página de visualização do produto */
body.produto {
  background-color: #121212;
  color: #E0E0E0;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.container.produto {
  max-width: 600px;
  width: 100%;
  background-color: #1E1E1E;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1.produto {
  font-size: 24px;
  margin-bottom: 20px;
  color: #FFD700;
}

#product-details {
  margin-top: 20px;
}

#product-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #FFD700;
}

#product-details p {
  margin-bottom: 5px;
  color: #E0E0E0;
}

#product-details img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#product-details button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #FFD700;
  color: #121212;
  cursor: pointer;
}

#product-details button:hover {
  background-color: #E0B000;
} 
